*, ::after, ::before {
    box-sizing: border-box !important;
}

html {
    font-size: 16px !important;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #ddd;
}

.app-container {
    position: relative;
    margin-top: 2rem;
}

@media(min-width: 985px) {
    .side-bar {
        position: fixed !important;
    }

    .main-view {
        position: absolute !important;
        right: 0;
    }
}

.toodoo-logo-text {
    font-family: cursive;
    font-weight: 300;
    color: #e6add8;
    text-shadow: 2px 2px black;
    font-size: 3rem;
    text-align: center;
}

.todo-list-group-title,
.new-todo-list-title {
    font-weight: 300;
}

.todo-list-group,
.single-todo-list {
    padding: 1.5rem;
}

@media(min-width: 1500px) {
    .todo-list-group,
    .create-todo-list,
    .toodoo-logo {
        max-width: 380px;
    }
}

.new-todo-list-btn {
    position: relative;
    width: 100%;
}

.todo-lists-list {
    max-height: 350px;
    overflow: auto;
}

.todo-list {
    position: relative;
    display: inline-block;
    padding-left: 1rem;
    width: 70%;
}

.delete-todo-list {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 30%;
}

.delete-list-btn {
    position: relative;
    top: -1rem;
}

.todo-list-title,
.todo-list-cat {
    position: relative;
    text-align: center;
}

.active-todo-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
}

.new-item-name {
    position: relative;
    width: 80%;
    margin: 1rem auto 0 auto;
}

.new-todo-item-desc {
    position: relative;
    text-align: center;
}

.todo-list-items {
    position: relative;
    margin-top: 2rem;
}

.todo-item-table {
    overflow: auto;
}

.incomplete-items,
.complete-items {
    position: relative;
    padding: 1rem 2rem;
}

.no-todo-items {
    text-align: center;
    font-size: 1.2rem;
}
