*, ::after, ::before {
    box-sizing: border-box !important;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #ddd;
}

.todo-list-group,
.single-todo-list {
    padding: 1.5rem;
}

.todo-list {
    position: relative;
    width: 70%;
    margin: 0 auto;
}

.todo-list-title,
.todo-list-cat {
    position: relative;
    text-align: center;
}

.active-todo-list {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
}

.todo-list-items {
    position: relative;
    margin-top: 2rem;
}

.incomplete-items,
.complete-items {
    position: relative;
    padding: 1rem 2rem;
}

.no-todo-items {
    text-align: center;
    font-size: 1.2rem;
}
